<!-- page heading debut-->
<div class="page-heading">
	<ul class="breadcrumb">
		<li>
			<a >Paramétrage</a>
		</li>
		<li class="active">Factures impayes </li>
	</ul>
</div>
<!-- page heading end-->

<div class="row">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="">
				<div class="col-md-6 col-lg-offset-8">
					<span>
						<button type="button" class="btn btn-danger">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Supprimer
						</button>
					</span>
					<span>
						<button type="button" class="btn btn-success" >
							<span class="glyphicon glyphicon-export" aria-hidden="true"></span> Exporter
						</button>
					</span>
					<span>
						<button type="button" class="btn btn-success">
							<span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimer
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">

			<div class="panel-body">
				<div class="col-lg-3">
					<div class="input-group">
					<span class="input-group-addon">
						Date debut :
					</span>
						<input type="text" class="form-control" aria-label="" placeholder="" value="">
					</div>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
					<span class="input-group-addon">
						Date fin :
					</span>
						<input type="text" class="form-control" aria-label="" placeholder="" value="">
					</div>
				</div>
				<div class="col-lg-4">
					<div class="input-group">
						<span class="input-group-addon">
							Fournisseur :
						</span>
						<div class="input-group">
							<select class="form-control" ng-model="fournisseur" ng-options="fournisseur.nom for fournisseur in fournisseurs">
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-1 ">
					<button type="button" class="btn btn-danger">
						<span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filtrer
					</button>
				</div>
			</div>
		</div>

	</div>
</div>
<br />
<div class="row">
	<table class="table table-bordered table-striped table-hover table-condensed">
		<tr>
			<th><input type="checkbox"></th>
			<th>N° Facture</th>
			<th>Date Facture</th>
			<th>Montant</th>
			<th>Fournisseur</th>
			<th>Réference</th>
			<th>Destinataire</th>
			<th>Détails</th>
			<th>Modifier</th>
			<th>Supprimer</th>
		</tr>
		<tr ng-repeat="achat in achats">
			<td>
				<input type="checkbox">
			</td>
			<td>{{achat.achatId}}</td>
			<td>{{achat.dateFacture | date:'dd-MM-yyyy'}}</td>
			<td>{{achat.amount}}</td>
			<td>{{achat.fournissuer.name}}</td>
			<td>{{achat.reference}}</td>
			<td>{{achat.destinataire.nomDestinataire}}</td>
			<td>
				<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#detailsModal">
					<span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#modificationModal">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-default btn-xs">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</button>
			</td>
		</tr>
	</table>
</div>


<nav>
	<ul class="pagination">
		<li>
			<a href="#/impayes" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li><a href="#/impayes">1</a></li>
		<li><a href="#/impayes">2</a></li>
		<li><a href="#/impayes">3</a></li>
		<li><a href="#/impayes">4</a></li>
		<li><a href="#/impayes">5</a></li>
		<li>
			<a href="#/impayes" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>
	</ul>
</nav>
